.container {
  display: flex;
}

.greetings-div {
  margin: 40px 60px;
}

.greetings-title {
  font: 600 48px Roboto, sans-serif;
  margin: 30px 0;
}

main p {
  font-size: 18px;
}
.red-text {
  color: #ff0101;
}
